.breadContainer{
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  border-bottom-color: '#080808';
  border-bottom-width: 2px;
  border-right-color: '#080808';
  border-right-width: 2px;
}

.dateNumber{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nameBold{
  font-size: 18px;
  font-weight: bold;
  color: black;
}